html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


:root{
  --text: #666666;
  --background: #d8d4d4
}

.containerAllPages{
  min-height: 100vh;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  position: relative;
  top:4rem
}

i{
  margin-top: 3px;
  margin-right: 5px;
  cursor: pointer;
}
.containerFormGerenciar{
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  width: 60%;
  margin: auto;
}
